.project__card{
    position: relative;
    width: 100%;
    opacity: 1;
    transform: scale(1);
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;

    &:hover{
        transform: scale(0.8) !important;
    }

    h3{
        position: absolute;
        top: 5%;
        left: 5%;
        background-color: var(--linen-clr);
    }

    .project__details{
        position: absolute;
        left: 5%;
        bottom: 5%;
        background-color: var(--linen-clr);
    }
}