.project__card{
    position: relative;
    width: 100%;
    transition: transform 0.5s ease-in-out;

    &:hover{
        transform: scale(0.8);
}

    h3{
        position: absolute;
        top: 5%;
        left: 5%;
        background-color: var(--linen-clr);
    }

    .project__details{
        position: absolute;
        width: 130px;
        left: 5%;
        bottom: 5%;
        background-color: var(--linen-clr);
    }
}