@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@font-face{
    font-family: "Hastegi";
    src: url("../../assets/font/Hastegi-yYBYe.otf");
}

h1{
    font-family: "Hastegi";
    font-size: clamp(4rem, 9vw, 8rem);
    line-height: 1;
    text-wrap: balance;
}

h2{
    font-family: "Hastegi";
    font-size: clamp(5rem, 7vw, 7rem);
    line-height: 0.8;
}

h3{
    font-size: 2rem;
}

.project__page__h3{
    font-size: 3rem;
}

.font__body{
    font-size: clamp(1rem, 5vw, 2rem);
}