// OTHER
.secondary__arrow__btn i{
    border: 1.5px solid var(--black-clr);
    //background-color: var(--purple-clr);
    border-radius: 50%;
    font-size: 2rem;
    vertical-align: middle;
    margin-left: 0.3em;
    transition: background-color 0.5s ease;
    -webkit-transition: background-color 0.5s ease;
    -moz-transition: background-color 0.5s ease;
    -ms-transition: background-color 0.5s ease;
    -o-transition: background-color 0.5s ease;
}

.secondary__arrow__btn:hover i{
    // transform: translateX(8px);
    background-color: var(--purple-clr);
}


.manrope__type{
    font-family: "Manrope";
    font-size: 2rem;
}

.preview{
    border-left: 1px solid var(--black-clr);
}

.preview2{
    border-right: 1px solid var(--black-clr);
    border-bottom: 1px solid var(--black-clr);
    padding-bottom: 2em;
}


// MAIN
.project__brief{
    .project__brief__content{
        .row{
            .project__brief__img__container:nth-of-type(1) img{
                height: 50vh;
                width: 100%;
                object-fit: cover;
            }
        }
    }
}

.logo{
    .logo__content{
        .row{
            @media (max-width: 565px) {
                flex-direction: column-reverse;
            }

            h1{
                font-family: "Ibarra Real Nova", serif;
            }
    
            .col-lg-6:nth-of-type(2){
                .row:nth-of-type(1){
                    border-bottom: 1px solid var(--black-clr);
                }
    
                @media (max-width: 767px) {
                    display: flex;
                    gap: 1rem;
    
                    .row:nth-of-type(1){
                        border-bottom: none;
                        border-right: 1px solid var(--black-clr);
                    }
                }
    
                @media (max-width: 565px) {
                    flex-direction: column;
    
                    .row:nth-of-type(1){
                        border-bottom: 1px solid var(--black-clr);
                        border-right: none;
                    }
                }
            }
        }
    }
}

.colors{
    .colors__content{
        .row{
            .col-lg-6:nth-of-type(1){
                .row:nth-of-type(1){
                    border-bottom: 1px solid var(--black-clr);
                }

                @media (max-width: 991px) {
                    display: flex;

                    .row:nth-of-type(1){
                        border-bottom: none;
                        border-right: 1px solid var(--black-clr);
                    }
                }

                @media (max-width: 767px) {
                    flex-direction: column;

                    .row:nth-of-type(1){
                        border-bottom: 1px solid var(--black-clr);
                        border-right: none;
                    }
                }
            }

            .col-lg-6:nth-of-type(2){
                .color__card{
                    .color__name{
                        font-weight: 650;
                    }
                }
                
                @media (max-width: 565px) {
                    flex-direction: column;
                }
            }
        }
    }
}

.typography{
    margin-bottom: 50em;

    .typography__content{
        .row{
            @media (max-width: 565px) {
                padding: 0 !important;
                padding-top: 1em !important;
            }

            .col-lg-3:nth-of-type(1){
                flex-direction: column;

                .row:nth-of-type(1){
                    border-bottom: 1px solid var(--black-clr);

                    @media (max-width: 991px) {
                        border-bottom: none;
                        border-right: 1px solid var(--black-clr);
                    }
                }

                .row:nth-of-type(2){
                    display: none;

                    @media (max-width: 991px) {
                        display: block;
                    }
                    
                    .arrow__btn__container{
                        @media (max-width: 565px) {
                            width: 50px;
                            height: 50px;
                            margin-bottom: 1em;
                        }
                    }
                }

                .row:nth-of-type(3){
                    border-top: 1px solid var(--black-clr);

                    @media (max-width: 991px) {
                        border-top: none;
                        border-left: 1px solid var(--black-clr);
                    }
                }

                @media (max-width: 991px) {
                    flex-direction: row;
                }
            }

            .font__section{
                flex-direction: column;

                .row:not(.row:nth-of-type(4)){
                    border-bottom: 1px solid var(--black-clr);

                    @media (max-width: 991px) {
                        border-bottom: none;
                        border-right: 1px solid var(--black-clr);
                    }
                }

                .row:nth-of-type(4){
                    @media (max-width: 991px) {
                        display: none;
                    }
                }
               
                @media (max-width: 991px) {
                    flex-direction: row;
                }
            }
        }
    }
}