@use 'custom';
@use 'abstracts';
@use 'base';
@use 'components';
@use 'pages';

*{
    scroll-behavior: smooth;
    scroll-padding-top: 7em;
}

html, body{
    overflow-x: hidden;
    background-color: var(--linen-clr);
}

::selection {
    background: var(--purple-clr);
}

section:not(.hero, .about, .project__brief), .footer{
    margin-top: 7em;
}